/* Main Container */
.hero-container {
    min-height: 100vh;
    background: linear-gradient(135deg, var(--background-main) 0%, var(--background-modal) 50%, var(--background-main) 100%);
    position: relative;
    overflow: hidden;
    /* color: var(--text-secondary); */
}



/* Navigation */
.navigation {
    position: relative;
    z-index: 10;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-logo {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #474747, #000000);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-icon {
    width: 24px;
    height: 24px;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 32px;
}


.nav-link {
    opacity: 0.8;
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    opacity: 1;
}

.nav-button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.2);
}


.hero-content {
    height: 70vh;
    position: relative;
    z-index: 10;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.hero-content h1 {
    font-size: 4rem;
    margin: 0;
    transition: 0.3s ease;
}

.hero-content h3 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 200;
    margin: 0 20%;
    transition: 0.3s ease;
}

.quick-home {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.quick-home img {
    position: absolute;
    height: auto;
    opacity: 0.9;
}

.quick-home1 {
    bottom: 10%;
    left: 10%;
    animation-delay: 0s;
    width: 30%;
    rotate: -10deg;
    animation: floatY 5s ease-in-out infinite alternate;
}

.quick-home2 {
    bottom: 40%;
    right: 20%;
    animation-delay: 1s;
    width: 15%;
    rotate: 10deg;
    animation: floatY 3s ease-in-out infinite alternate;
}

.quick-home3 {
    top: 10%;
    left: 10%;
    animation-delay: 2s;
    filter: blur(1px);
    width: 20%;
    rotate: 10deg;
    animation: floatY 3s ease-in-out infinite alternate;
}

.quick-home4 {
    top: 20%;
    right: 20%;
    animation-delay: 3s;
    filter: blur(1px);
    width: 10%;
    animation: floatY 2s ease-in-out infinite alternate;
}

@keyframes floatY {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}



@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h3 {
        font-size: 1rem;
    }

}

@media (max-width: 500px) {
    .nav-links {
        display: none;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content h3 {
        font-size: 0.7rem;
    }

    .quick-home1 {
        bottom: 20%;
        left: 0%;
        animation-delay: 0s;
        width: 60%;
    }

    .quick-home2 {
        bottom: 40%;
        right: 10%;
        animation-delay: 1s;
        width: 30%;
    }

    .quick-home3 {
        top: 20%;
        left: 10%;
        animation-delay: 2s;
        width: 35%;
    }

    .quick-home4 {
        top: 20%;
        right: 20%;
        animation-delay: 3s;
        width: 15%;
    }
}