.balance {
    text-align: left;
    gap: 10px;
    width: 80%;
    margin: 0 5% 1%;
    border-radius: 10px;
    padding: 30px 5%;
    color: var(--text-secondary);
    box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px;
    cursor: pointer;
    background: linear-gradient(341deg, var(--wallet-theme-secondary) 0%, var(--wallet-theme) 80%);
}

.balance p {
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.8;
    margin: 0;
}

.income-expense {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.income-expense p {
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.8;
    margin: 0;
}

.income-expense-summary {
    display: flex;
    gap: 1%;
    width: 90%;
    margin: 0 5% 3%;
    color: var(--text-secondary);
    justify-content: space-between;
    align-items: center;
}

.income {
    background: linear-gradient(339deg, #a3dc5b 0%, #53a12c 100%);
    width: 50%;
    padding: 0 5%;
    border-radius: 10px;
    box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px;
}

.expense {
    background: linear-gradient(339deg, #e94539 0%, #ac232f 100%);
    width: 50%;
    padding: 0 5%;
    border-radius: 10px;
    box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px;
}



.form-income-expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 0 5% 3%;
    border-radius: 10px;
    padding: 30px 0;
    border: 2px solid var(--wallet-theme);
}

.form-income-expense input {
    width: 40%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: var(--background-modal);
    color: var(--text-main);
    font-size: 1.2rem;
}

.form-select {
    display: flex;
    gap: 10px;
    width: 41.5%;
}

.form-income-expense select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: var(--background-modal);
    color: var(--text-main);
    font-size: 1.2rem;
    text-align: center;
}

.form-income-expense button {
    background-color: var(--wallet-income);
    color: var(--text-main);
    border: 2px solid var(--wallet-income);
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    width: 41.5%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-income-expense button:hover {
    background-color: transparent;
}


.form-income-expense-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.income-line{
    border-left: 5px solid #2da44e;
}
.expense-line{
    border-left: 5px solid #c53d3d;
}

.form-income-expense-modal input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid var(--wallet-theme);
    background-color: var(--background-modal);
    color: var(--text-main);
    font-size: 1.2rem;
}

.form-income-expense-modal select {
    border-radius: 6px;
    border: 2px solid var(--wallet-theme);
    background-color: var(--background-modal);
    color: var(--text-main);
    font-size: 1rem;
    text-align: center;
}

.transaction-type {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 5% 1%;
    height: 60px;
}

.transaction-type h2 {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
}

.transaction-type h2:hover {
    opacity: 1;
    border-bottom: 3px solid var(--wallet-theme);
}


.transactions {
    width: 88%;
    margin: 0 5% 5%;
    padding: 0 1%;
    border-radius: 10px;
    background-color: var(--background-modal);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.line-transactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    overflow-y: scroll;
}

.transaction {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: var(--background-modal);
    border-bottom: 2px solid #00000020;
}

.transaction-icon {
    width: 5px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.transaction-status-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.transaction-status-description {
    font-size: 1rem;
    margin: 0;
    opacity: 0.7;
}

.transaction-status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .transactions {
        margin: 0 5% 20%;
    }

}

@media (max-width: 500px) {
    .transaction-status-name {
        font-size: 1rem;
        font-weight: 500;
    }

    .transaction-icon {
        width: 10px;
        height: 10px;
        border-radius: 50px;
    }

    .form-income-expense input {
        width: 90%;
        padding: 10px;
    }

    .form-select {
        display: flex;
        gap: 10px;
        width: 95%;
    }

    .balance {
        width: 80%;
        margin: 0 5% 3%;
    }

    .income-expense-summary {
        gap: 3%;
    }
}