:root {
    --background-main: #F0F4F7;
    --background-secondary: #ffffff;
    --background-profile: #d5d5d5;
    --background-modal: #ffffff;

    --text-box: #ffffff;
    --border-box: #1C1F28;

    --text-main: #1C1F28;
    --text-secondary: #ffffff;

    --wallet-theme: #3AA48C;
    --wallet-theme-secondary: #195EA1;
    --wallet-income: #2da44e;

    --todo-active: #DE5D83;
    --todo-border: #AA4064;
    --todo-hover: #f1bacb;
}

[data-theme="Dark"] {
    --background-main: #121212;
    --background-secondary: #1E1E1E;
    --background-profile: #505050;
    --background-modal: #1E1E1E;

    --text-box: #121212;
    --border-box: #505050;

    --text-main: #ffffff;
    --text-secondary: #1C1F28;

    --wallet-theme: #3AA48C;
    --wallet-theme-secondary: #195EA1;
    --wallet-income: #2da44e;

    --todo-active: #DE5D83;
    --todo-border: #AA4064;
    --todo-hover: #f1bacb;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--background-main);
    color: var(--text-main);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

*::selection {
    background-color: var(--text-main);
    color: var(--background-main);
}

.animation-clock {
    animation: rotate-clock 1s ease-in-out infinite;
}

@keyframes rotate-clock {
    100% {
        rotate: 360deg;
    }
}