:root {
    --background-main: #F0F4F7;
    --background-input: #ffffff;
    --text-main: #1C1F28;
    --text-secondary: #ffffff;
    --border-line: #1C1F28;
    --background-modal: #ffffff;
    --background-profile: #d5d5d5;

    --wallet-theme: #3AA48C;
    --wallet-theme-secondary: #195EA1;
    --wallet-income: #2da44e;
}
[data-theme="Dark"] {
    --background-main: #121212;
    --background-input: #1E1E1E;
    --text-main: #E2E2E2;
    --text-secondary: #1E1E1E;
    --border-line: #A4A4A4;
    --background-modal: #1E1E1E;
    --background-profile: #505050;

    --wallet-theme: #3AA48C;
    --wallet-theme-secondary: #195EA1;
    --wallet-income: #2da44e;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: var(--background-main);
    color: var(--text-main);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

*::selection {
    background-color: var(--text-main);
    color: var(--background-main);
}